<div class="container">
    <div class="row mt-3">
        <div class="col-md-3">
            <label for="">Request Number</label>
            <input type="text" name="" class="form-control" [(ngModel)]="requestListObj.RequestNo"
                (blur)="onBlurRequest()">
        </div>
        <div class="col-md-3">
            <label for="">Department Name</label>
            <select name="" class="form-control" [(ngModel)]="requestListObj.AssignedTo">
                <option *ngFor="let dept of deptArray" [value]="dept.DeptId">{{dept.DeptName}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="">Employee Name</label>
            <select name="" class="form-control" [(ngModel)]="requestListObj.EmployeeId">
                <option *ngFor="let emp of empArray" [value]="emp.EmployeeId">{{emp.EmployeeName}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <div class="button mt-2">
                <button class="btn btn-success btn-sm m-3" (click)="onSearch()">Search</button>
                <button class="btn btn-danger btn-sm" (click)="onReset()">Reset</button>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-warning">
                    <div class="row">
                        <div class="col-6">
                            <h4>Request List</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr class="bg-secondary text-white text-center">
                                        <th>Sr.No</th>
                                        <th>Request No.</th>
                                        <th>Employee Name</th>
                                        <th>Dept Name</th>
                                        <th>Expected End Date</th>
                                        <th>Severity</th>
                                        <th>Completed Date</th>
                                        <th>Assigned User Name</th>
                                        <th>State</th>
                                    </tr>
                                </thead>
                                <ng-container *ngIf="requestListArray.length == 0">
                                    <tr>
                                        <td colspan="9" class="text-center">No Record Found</td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="requestListArray.length != 0">
                                    <tbody class="text-center">
                                        <tr *ngFor="let data of requestListArray; let sr = index;"
                                            [ngClass]="data.Severity == 'High' ? 'bg-danger' : 'bg-light' ">
                                            <td>{{sr+1}}</td>
                                            <td>{{data.RequestNo}}</td>
                                            <td>{{data.EmployeeName | titlecase |allpipe}}</td>
                                            <td>{{data.DeptName | titlecase |allpipe}}</td>
                                            <td>{{data.ExpectedEndDate | date : 'dd-MMM-yy' |allpipe}}</td>
                                            <td>{{data.Severity | allpipe}}</td>
                                            <td>{{data.CompletedDate | date : 'dd-MMM-yy' |allpipe}}</td>
                                            <td>{{data.AssignedUserName | titlecase |allpipe}}</td>
                                            <td>{{data.State | titlecase |allpipe}}</td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>