.custom-nav {
  background: radial-gradient(
    circle,
    rgb(49, 35, 203) 50%,
    rgba(111, 108, 108, 0.663) 100%);

}

.logoutbtn {
  display: flex !important;
}

li a:hover {
  transform: scale(1.1);
  transition: 0.2s;
  background-color: rgb(2, 2, 32);
  border: 1px solid white;
  border-radius: 15px;
}