<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-warning">
                    <div class="row">
                        <div class="col-6">
                       <strong>Department Tickets</strong>     
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr class="bg-secondary text-white text-center">
                                        <th>Sr.No</th>
                                        <th>Employee Name</th>
                                        <th>Dept Name</th>
                                        <th>Assigned User Name</th>
                                        <th>Severity</th>
                                        <th>Expected End Date</th>
                                        <th>Completed Date</th>
                                        <th>State</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <ng-container *ngIf="deptTicketArray.length == 0">
                                    <tr>
                                        <td colspan="9" class="text-center">No Record Found</td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="deptTicketArray.length != 0">
                                    <tbody class="text-center">
                                        <tr *ngFor="let data of deptTicketArray; let sr = index;">
                                            <td>{{sr+1}}</td>
                                            <td>{{data.EmployeeName | titlecase}}</td>
                                            <td>{{data.DeptName | titlecase}}</td>
                                            <td>{{data.AssignedUserName | titlecase}}
                                                <button class="btn btn-sm btn-primary text-center">Assign</button>
                                            </td>
                                            <td>{{data.Severity | titlecase}}</td>
                                            <td>{{data.ExpectedEndDate | date :'dd-MMM-yy'}}</td>
                                            <td>{{data.CompletedDate | date :'dd-MMM-yy'}}</td>
                                            <td>{{data.State | titlecase}}</td>
                                            <td><p [innerHtml]="data.Details"></p></td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>