<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-warning">
                    <div class="row">
                        <div class="col-6">
                            <strong>Employee List</strong>
                        </div>
                        <div class="col-6 text-end">
                            <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Add Emp.
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <app-loader *ngIf="isLoading"></app-loader>
                    <div class="row">
                        <div class="col-12">
                            <p-table [value]="empArray" [paginator]="true" [rows]="10"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,75,100,150]"
                                styleClass="p-datatable-gridlines p-datatable-sm" [responsive]="true">
                                <ng-template pTemplate="header">
                                    <tr class="custom-class">
                                        <th>Sr.No.</th>
                                        <th pSortableColumn="EmployeeName">Employee Name <p-sortIcon
                                                field="EmployeeName"></p-sortIcon></th>
                                        <th pSortableColumn="ContactNo"> Contact No. <p-sortIcon
                                                field="ContactNo"></p-sortIcon></th>
                                        <th pSortableColumn="EmailId">Email <p-sortIcon field="EmailId"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="UserName">User Name <p-sortIcon
                                                field="UserName"></p-sortIcon></th>
                                        <th pSortableColumn="DeptName">Dept. Name <p-sortIcon
                                                field="DeptName"></p-sortIcon></th>
                                        <th pSortableColumn="Role">Role <p-sortIcon field="Role"></p-sortIcon></th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item let-sr="rowIndex">
                                    <tr>
                                        <td>{{sr+1}}</td>
                                        <td>{{item.EmployeeName | titlecase}}</td>
                                        <td>{{item.ContactNo}}</td>
                                        <td>{{item.EmailId}}</td>
                                        <td>{{item.UserName | titlecase}}</td>
                                        <td>{{item.DeptName | titlecase}}</td>
                                        <td>{{item.Role | titlecase}}</td>
                                        <td >
                                            <i data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            (click)="onEdit(item.EmployeeId)"
                                            class="bi bi-pencil-square text-warning fs-5 me-3"></i>
                                        <i (click)="onDeleteConfirm(item.EmployeeId)"
                                            class="bi bi-trash-fill text-danger fs-5"> </i>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-warning">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Employee Form</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form #form="ngForm">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="text">Employee Name<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Employee Name" class="form-control"
                                            name="empName" [(ngModel)]="empObj.EmployeeName" required
                                            #empName="ngModel">
                                        <div class="text-danger" *ngIf="empName.touched">
                                            <span *ngIf="empName.errors?.['required']">Employee Name is Required</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="text">Contact No.<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Contact No." class="form-control"
                                            name="cantactNo" [(ngModel)]="empObj.ContactNo" required
                                            #cantactNo="ngModel">
                                        <div class="text-danger" *ngIf="cantactNo.touched" minlength="10">
                                            <span *ngIf="cantactNo.errors?.['required']">Contact Number is
                                                Required</span>
                                            <span *ngIf="cantactNo.errors?.['minlength']">Min 10 No. Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <label for="text">Email Id<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Email Id" class="form-control" name="emailId"
                                            [(ngModel)]="empObj.EmailId" required #emailId="ngModel">
                                        <div class="text-danger" *ngIf="emailId.touched">
                                            <span *ngIf="emailId.errors?.['required']">Email Id is Required</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="text">User Name<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="user Name" class="form-control" name="userName"
                                            [(ngModel)]="empObj.UserName" required #userName="ngModel">
                                        <div class="text-danger" *ngIf="userName.touched">
                                            <span *ngIf="userName.errors?.['required']">User Name is Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <label for="text">Reports To<span class="text-danger">*</span></label>
                                        <select name="reportsTo" id="" [(ngModel)]="empObj.EmployeeName"
                                            class="form-control">
                                            <option *ngFor="let role of empArray" [value]="role.EmployeeName">
                                                {{role.EmployeeName}}</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <label for="text">Role<span class="text-danger">*</span></label>
                                        <select name="role" id="" [(ngModel)]="empObj.EmployeeId" class="form-control">
                                            <option *ngFor="let role of roleArray">{{role}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <label>Department<span class="text-danger">*</span></label>
                                        <select name="deptName" id="" [(ngModel)]="empObj.DeptId" class="form-control">
                                            <option value="" disabled>Select department</option>
                                            <option *ngFor="let role of deptArray" [value]="role.DeptId">
                                                {{getDepName(role.DeptId)}}</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success btn-sm" (click)="onSave()"
                                data-bs-dismiss="modal" [disabled]="!form.form.valid" *ngIf="isSave">Save</button>
                            <button type="button" class="btn btn-success btn-sm" (click)="onUpdate(empObj.EmployeeId)"
                                data-bs-dismiss="modal" *ngIf="!isSave">Update</button>
                            <button class="btn btn-danger btn-sm" (click)="onReset()">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>