<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-warning">
                    <div class="row">
                        <div class="col-6">
                            <h4>Employee List</h4>
                        </div>
                        <div class="col-6 text-end">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Add Emp.
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr class="bg-secondary text-white text-center">
                                        <th>Sr.No</th>
                                        <th>Employee Name</th>
                                        <th>Contact No.</th>
                                        <th>Email Id</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr *ngFor="let data of empArray; let sr = index;">
                                        <td>{{sr+1}}</td>
                                        <td>{{data.EmployeeName | titlecase}}</td>
                                        <td>{{data.ContactNo}}</td>
                                        <td>{{data.EmailId}}</td>
                                        <td>
                                            <div class="row">
                                                <div class="col-6 text-end">
                                                    <p (click)="onEdit(data.EmployeeId)"
                                                        data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                                            class="bi bi-pencil-square text-warning fs-5"></i></p>
                                                </div>
                                                <div class="col-6">
                                                    <p (click)="onDelete(data.EmployeeId)"><i
                                                            class="bi bi-trash-fill text-danger fs-5"></i></p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-warning">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Employee Form</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form #form="ngForm">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="text">Employee Name<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Employee Name" class="form-control"
                                            name="empName" [(ngModel)]="empObj.EmployeeName" required
                                            #empName="ngModel">
                                        <div class="text-danger" *ngIf="empName.touched">
                                            <span *ngIf="empName.errors?.['required']">Employee Name is Required</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="text">Contact No.<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Contact No." class="form-control"
                                            name="cantactNo" [(ngModel)]="empObj.ContactNo" required
                                            #cantactNo="ngModel">
                                        <div class="text-danger" *ngIf="cantactNo.touched" minlength="10">
                                            <span *ngIf="cantactNo.errors?.['required']">Contact Number is
                                                Required</span>
                                            <span *ngIf="cantactNo.errors?.['minlength']">Min 10 No. Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <label for="text">Email Id<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Email Id" class="form-control" name="emailId"
                                            [(ngModel)]="empObj.EmailId" required #emailId="ngModel">
                                        <div class="text-danger" *ngIf="emailId.touched">
                                            <span *ngIf="emailId.errors?.['required']">Email Id is Required</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="text">User Name<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="user Name" class="form-control" name="userName"
                                            [(ngModel)]="empObj.UserName" required #userName="ngModel">
                                        <div class="text-danger" *ngIf="userName.touched">
                                            <span *ngIf="userName.errors?.['required']">User Name is Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <label for="text">Reports To<span class="text-danger">*</span></label>
                                        <select name="reportsTo" id="" [(ngModel)]="empObj.EmployeeName"
                                            class="form-control" >
                                            <option *ngFor="let role of empArray" [value]="role.EmployeeName">{{role.EmployeeName}}</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <label for="text">Role<span class="text-danger">*</span></label>
                                        <select name="role" id="" [(ngModel)]="empObj.EmployeeId" class="form-control">
                                            <option *ngFor="let role of roleArray">{{role}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <label>Department<span class="text-danger">*</span></label>
                                        <select name="deptName" id="" [(ngModel)]="empObj.DeptId" class="form-control">
                                            <option *ngFor="let role of deptArray" [value]="role.DeptId">
                                                {{getDepName(role.DeptId)}}</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" (click)="onSave()" data-bs-dismiss="modal"
                                 [disabled]="!form.form.valid" *ngIf="isSave">Save</button>
                            <button type="button" class="btn btn-success" (click)="onUpdate(empObj.EmployeeId)"
                                data-bs-dismiss="modal" *ngIf="!isSave">Update</button>
                            <button class="btn btn-danger" (click)="onReset()">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>