<div class="container-fluid">
    <div class="row mt-3" *ngIf="loggedInRole =='Admin' ">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-warning">
                    <div class="row">
                        <div class="col-6">
                            <strong>Leave List</strong>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p-table [value]="leaveArray" [paginator]="true" [rows]="10"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,75,100,150]"
                                styleClass="p-datatable-gridlines p-datatable-sm" [responsive]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="text-center">SrNo</th>
                                        <th pSortableColumn="EmployeeName">Employee<p-sortIcon
                                                field="EmployeeName"></p-sortIcon></th>
                                        <th pSortableColumn="FromDate">From Date <p-sortIcon
                                                field="ContactNo"></p-sortIcon></th>
                                        <th pSortableColumn="ToDate">To Date <p-sortIcon field="EmailId"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="IsHalfDay">Is Half Day <p-sortIcon
                                                field="UserName"></p-sortIcon></th>
                                        <th pSortableColumn="NoOfDays">No Of Days <p-sortIcon
                                                field="DeptName"></p-sortIcon></th>
                                        <th pSortableColumn="LeaveType">Leave Type <p-sortIcon
                                                field="Role"></p-sortIcon></th>
                                        <th pSortableColumn="Details">Details <p-sortIcon field="Role"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="ApprovedDate">Approved Date <p-sortIcon
                                                field="Role"></p-sortIcon></th>
                                        <th pSortableColumn="IsApproved">Is Approved <p-sortIcon
                                                field="Role"></p-sortIcon></th>
                                        <th pSortableColumn="Action" class="text-center">Action <p-sortIcon field="Role"></p-sortIcon></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-leave let-sr="rowIndex">
                                    <tr [ngClass]="leave.IsApproved ? 'text-dark' :'text-danger' ">
                                        <td class="text-center">{{sr+1}}</td>
                                        <td>{{leave.EmployeeName}}</td>
                                        <td>{{leave.FromDate |date:'dd-MM-yy'}}</td>
                                        <td>{{leave.ToDate |date:'dd-MM-yy'}}</td>
                                        <td>{{leave.IsHalfDay ? 'Yes': 'No'}}</td>
                                        <td>{{leave.NoOfDays}}</td>
                                        <td>{{leave.LeaveType}}</td>
                                        <td>
                                            <p [innerHtml]="leave.Details"></p>
                                        </td>
                                        <td>{{leave.ApprovedDate |date:'dd-MMM-yy'}}</td>
                                        <td>{{leave.IsApproved ? 'Approved': 'Not Approved'}}</td>
                                        <td class="text-center">
                                            <i class="bi bi-pencil-square text-warning fs-5 me-2"></i>
                                            <i class="bi bi-trash-fill text-danger fs-5"> </i>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <!-- <table class="table table-bordered table-striped">
                                <thead>
                                    <tr class="bg-secondary text-white text-center">
                                        <th>Sr.No.</th>
                                        <th>Employee Name</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Is Half Day</th>
                                        <th>No Of Days</th>
                                        <th>Leave Type</th>
                                        <th>Details</th>
                                        <th>Approved Date</th>
                                        <th>Is Approved</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <ng-container *ngIf="leaveArray.length == 0">
                                    <tr>
                                        <td colspan="10" class="text-center">No Record Found</td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="leaveArray.length != 0">
                                    <tbody>
                                        <tr *ngFor="let leave of leaveArray; let sr=index" class="text-center"
                                            [ngClass]="leave.IsApproved ? 'text-dark' :'text-danger' ">
                                            <td>{{sr+1}}</td>
                                            <td>{{leave.EmployeeName}}</td>
                                            <td>{{leave.FromDate |date:'dd-MM-yy'}}</td>
                                            <td>{{leave.ToDate |date:'dd-MM-yy'}}</td>
                                            <td>{{leave.IsHalfDay ? 'Yes': 'No'}}</td>
                                            <td>{{leave.NoOfDays}}</td>
                                            <td>{{leave.LeaveType}}</td>
                                            <td>
                                                <p [innerHtml]="leave.Details"></p>
                                            </td>
                                            <td>{{leave.ApprovedDate |date:'dd-MMM-yy'}} </td>
                                            <td>{{leave.IsApproved ? 'Approved': 'Not Approved'}}</td>
                                            <td>
                                                <i class="bi bi-pencil-square text-warning fs-5 me-2"></i>
                                                <i class="bi bi-trash-fill text-danger fs-5"> </i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                            </table> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-3" *ngIf="loggedInRole=='AdminDept' || loggedInRole=='Employee' || loggedInRole !='Admin' ">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-warning">
                    <div class="row">
                        <div class="col-6">
                            <strong>All Leaves</strong>
                        </div>
                        <div class="col-6">
                            <div class="button text-end">
                                <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    Create Leave
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p-table [value]="leaveArray" [paginator]="true" [rows]="10"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,75,100,150]"
                                styleClass="p-datatable-gridlines p-datatable-sm" [responsive]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="text-center">SrNo</th>
                                        <th pSortableColumn="EmployeeName">Employee<p-sortIcon
                                                field="EmployeeName"></p-sortIcon></th>
                                        <th pSortableColumn="FromDate">From Date <p-sortIcon
                                                field="ContactNo"></p-sortIcon></th>
                                        <th pSortableColumn="ToDate">To Date <p-sortIcon field="EmailId"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="IsHalfDay">Is Half Day <p-sortIcon
                                                field="UserName"></p-sortIcon></th>
                                        <th pSortableColumn="NoOfDays">No Of Days <p-sortIcon
                                                field="DeptName"></p-sortIcon></th>
                                        <th pSortableColumn="LeaveType">Leave Type <p-sortIcon
                                                field="Role"></p-sortIcon></th>
                                        <th pSortableColumn="Details">Details <p-sortIcon field="Role"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="ApprovedDate">Approved Date <p-sortIcon
                                                field="Role"></p-sortIcon></th>
                                        <th pSortableColumn="IsApproved">Is Approved <p-sortIcon
                                                field="Role"></p-sortIcon></th>
                                        <th pSortableColumn="Action" class="text-center">Action <p-sortIcon field="Role"></p-sortIcon></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-data let-sr="rowIndex">
                                    <tr>
                                        <td class="text-center">{{sr+1}}</td>
                                        <td>{{data.EmployeeName}}</td>
                                        <td>{{data.FromDate |date:'dd-MM-yy'}}</td>
                                        <td>{{data.ToDate |date:'dd-MM-yy'}}</td>
                                        <td>{{data.IsHalfDay ? 'Yes': 'No'}}</td>
                                        <td>{{data.NoOfDays}}</td>
                                        <td>{{data.LeaveType}}</td>
                                        <td>
                                            <p [innerHtml]="data.Details"></p>
                                        </td>
                                        <td>{{data.ApprovedDate |date:'dd-MMM-yy'}}</td>
                                        <td>{{data.IsApproved ? 'Approved': 'Not Approved'}}</td>
                                        <td class="text-center">
                                            <i (click)="onEdit(data.LeaveId)" class="bi bi-pencil-square text-warning fs-5 me-2"
                                            data-bs-toggle="modal"
                                           data-bs-target="#exampleModal"></i>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <!-- <table class="table table-bordered table-striped">
                                <thead>
                                    <tr class="bg-secondary text-white text-center">
                                        <th>Sr.No.</th>
                                        <th>Employee Name</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Is Half Day</th>
                                        <th>No Of Days</th>
                                        <th>Leave Type</th>
                                        <th>Details</th>
                                        <th>Is Approved</th>
                                        <th>Approved Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of empLeaveArray;let sr=index" class="text-center"
                                        [ngClass]="data.IsApproved ? 'text-dark' : 'text-danger'">
                                        <td>{{sr+1}}</td>
                                        <td>{{data.EmployeeName}}</td>
                                        <td>{{data.FromDate |date:'dd-MM-yy'}}</td>
                                        <td>{{data.ToDate |date:'dd-MM-yy'}}</td>
                                        <td>{{data.IsHalfDay ? 'Yes' : 'No'}}</td>
                                        <td>{{data.NoOfDays}}</td>
                                        <td>{{data.LeaveType}}</td>
                                        <td>{{data.Details}}</td>
                                        <td>{{data.IsApproved ? 'Approved': 'Not Approved'}}</td>
                                        <td>{{data.ApprovedDate | date:'dd-MM-yy'}}</td>
                                        <td> <i (click)="onEdit(data.LeaveId)"
                                        <td> <i(click)="onEdit(data.LeaveId)"
                                                class="bi bi-pencil-square text-warning fs-4 fw-bold"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal"> </td>
                                        <td>
                                            <i (click)="onEdit(data.LeaveId)" class="bi bi-pencil-square text-warning fs-5 me-2"
                                             data-bs-toggle="modal"
                                            data-bs-target="#exampleModal"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-warning">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Leaves</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form #form="ngForm">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="">From Date <span class="text-danger">*</span></label>
                                        <input type="date" name="FromDate" id="" class="form-control"
                                            [(ngModel)]="LeaveObj.FromDate" #FromDate="ngModel" required>
                                        <div class="text-danger" *ngIf="FromDate.touched">
                                            <span *ngIf="FromDate.errors?.['required']">This is required</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="">To Date <span class="text-danger">*</span></label>
                                        <input type="date" name="ToDate" id="" class="form-control"
                                            [(ngModel)]="LeaveObj.ToDate" #ToDate="ngModel" required (blur)="onBlur()">
                                        <div class="text-danger" *ngIf="ToDate.touched">
                                            <span *ngIf="ToDate.errors?.['required']">This is required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="">No.of days</label>
                                        <input type="number" name="NoOfDays" id="" [(ngModel)]="LeaveObj.NoOfDays"
                                            disabled class="form-control">
                                    </div>
                                    <div class="col-6">
                                        <label for="">Leave Type <span class="text-danger">*</span></label>
                                        <select name="LeaveType" id="" class="form-control" #LeaveType="ngModel" required
                                            [(ngModel)]="LeaveObj.LeaveType">
                                            <option value="" disabled>Select Leave Type</option>
                                            <option value="PrivilegeLeave">Privilege Leave</option>
                                            <option value="CasualLeave">Casual Leave</option>
                                            <option value="SickLeave">Sick Leave</option>
                                            <option value="MaternityLeave">Maternity Leave</option>
                                            <option value="MarriageLeave">Marriage Leave</option>
                                            <option value="PaternityLeave">Paternity Leave</option>
                                            <option value="BereavementLeave">Bereavement Leave</option>
                                        </select>
                                        <div class="text-danger" *ngIf="LeaveType.touched">
                                            <span *ngIf="LeaveType.errors?.['required']">This is required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="">Details <span class="text-danger">*</span></label>
                                        <textarea name="Details" id="" cols="15" rows="4" [(ngModel)]="LeaveObj.Details"
                                            class="form-control" #Details="ngModel" required></textarea>
                                        <div class="text-danger" *ngIf="Details.touched">
                                            <span *ngIf="Details.errors?.['required']">This is required</span>
                                        </div>
                                    </div>
                                    <div class="col-6 mt-3">
                                        <label class="form-check-label" for="exampleCheck1">Is Half Day : <span
                                                class="text-danger">*</span></label><br>
                                        <input type="checkbox" name="IsHalfDay" class="form-check-input"
                                            id="exampleCheck1" [(ngModel)]="LeaveObj.IsHalfDay">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success btn-sm" *ngIf="isSave" (click)="onSave()"
                                data-bs-dismiss="modal" [disabled]="form.form.invalid">Add Leave</button>
                            <button class="btn btn-warning btn-sm" *ngIf="!isSave" (click)="onUpdate()"
                                data-bs-dismiss="modal" aria-label="Close">Update</button>
                            <button class="btn btn-danger btn-sm" (click)="onReset()">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>
<p-toast></p-toast>