.custom-nav{
    background: rgb(134, 219, 82);
    background: radial-gradient(
      circle,
      rgb(50, 202, 171) 0%,
      rgba(170, 50, 31, 0.521) 100%
    );
}
li a:hover{
transform: scale(1.1);
transition: 0.2s;
background-color: rgb(2, 2, 32);
border: 1px solid white;
border-radius: 15px;
}