<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-warning">
                    <div class="row">
                        <div class="col-6">
                            <strong>Department List</strong>
                        </div>
                        <div class="col-6 text-end">
                            <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" (click)="onAdd()">
                                Add Dept.
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p-table [value]="deptArray" [paginator]="true" [rows]="10"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,75,150,200]"
                                styleClass="p-datatable-gridlines p-datatable-sm" [responsive]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Sr.No.</th>
                                        <th pSortableColumn="DeptName">Department Name<p-sortIcon
                                                field="DeptName"></p-sortIcon></th>
                                        <th pSortableColumn="DeptHead">Department Head<p-sortIcon
                                                field="DeptHead"></p-sortIcon></th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item let-sr="rowIndex">
                                    <tr>
                                        <td>{{sr+1}}</td>
                                        <td>{{item.DeptName | titlecase}}</td>
                                        <td>{{item.DeptHead | titlecase}}</td>
                                        <td>
                                            <i data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                (click)="onEdit(item.DeptId)"
                                                class="bi bi-pencil-square text-warning fs-5 me-3"></i>
                                            <i (click)="onConfirmDelte(item.DeptId)"
                                                class="bi bi-trash-fill text-danger fs-5"> </i>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-warning">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Department Form</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form #form="ngForm">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="text">Department Name<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Department Name" class="form-control"
                                            name="deptName" [(ngModel)]="dpetObj.DeptName" required #deptName="ngModel">
                                        <div class="text-danger" *ngIf="deptName.touched">
                                            <span *ngIf="deptName.errors?.['required']">Department Name is
                                                Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <label for="text">Department Head<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Department Head" class="form-control"
                                            name="deptHead" [(ngModel)]="dpetObj.DeptHead" required #deptHead="ngModel">
                                        <div class="text-danger" *ngIf="deptHead.touched">
                                            <span *ngIf="deptHead.errors?.['required']">Department Head is
                                                Required</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer ">
                            <div class="row ">
                                <div class="col">
                                    <button type="button" class="btn btn-success btn-sm m-2" (click)="onSave()"
                                        *ngIf="dpetObj.DeptId == 0" data-bs-dismiss="modal"
                                        [disabled]="!form.form.valid">Save</button>
                                    <button type="button" class="btn btn-success btn-sm m-2"
                                        (click)="onUpdate(dpetObj.DeptId)" *ngIf="dpetObj.DeptId != 0"
                                        data-bs-dismiss="modal">Update</button>
                                    <button class="btn btn-danger btn-sm" (click)="onReset()">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>