<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-warning">
                    <div class="row">
                        <div class="col-6">
                            <strong>Department List</strong>
                        </div>
                        <div class="col-6 text-end">
                            <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" (click)="onAdd()">
                                Add Dept.
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr class="bg-secondary text-white text-center">
                                        <th>Sr.No</th>
                                        <th>Department Name</th>
                                        <th>Department Head</th>
                                        <th>Created Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                               <ng-container *ngIf="deptArray.length == 0">
                                <tr>
                                    <td colspan="5" class="text-center">No Record Found</td>
                                </tr>
                               </ng-container>
                                <ng-container *ngIf="deptArray.length != 0">
                                    <tbody class="text-center">
                                        <tr *ngFor="let data of deptArray; let sr = index;">
                                            <td>{{sr+1}}</td>
                                            <td>{{data.DeptName | titlecase}}</td>
                                            <td>{{data.DeptHead | titlecase}}</td>
                                            <td>{{data.CreatedDate | date:'dd-MMM-yy'}}</td>
                                            <td>
                                                <i data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onEdit(data.DeptId)"
                                                class="bi bi-pencil-square text-warning fs-5"></i> 
                                                <i (click)="onConfirmDelte(data.DeptId)"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                class="bi bi-trash-fill text-danger fs-5"> </i>
                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>   
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-warning">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Department Form</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form #form="ngForm">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="text">Department Name<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Department Name" class="form-control"
                                            name="deptName" [(ngModel)]="dpetObj.DeptName" required #deptName="ngModel">
                                        <div class="text-danger" *ngIf="deptName.touched">
                                            <span *ngIf="deptName.errors?.['required']">Department Name is
                                                Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <label for="text">Department Head<span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Department Head" class="form-control"
                                            name="deptHead" [(ngModel)]="dpetObj.DeptHead" required #deptHead="ngModel">
                                        <div class="text-danger" *ngIf="deptHead.touched">
                                            <span *ngIf="deptHead.errors?.['required']">Department Head is
                                                Required</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer ">
                            <div class="row ">
                                <div class="col">
                                    <button type="button" class="btn btn-success btn-sm m-2" (click)="onSave()"
                                        *ngIf="dpetObj.DeptId == 0" data-bs-dismiss="modal" [disabled]="!form.form.valid">Save</button>
                                    <button type="button" class="btn btn-success btn-sm m-2" (click)="onUpdate(dpetObj.DeptId)"
                                        *ngIf="dpetObj.DeptId != 0" data-bs-dismiss="modal">Update</button>
                                    <button class="btn btn-danger btn-sm" (click)="onReset()">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>