/* You can add global styles to this file, and also import other style files */
label {
    font-size: 15px;
  }
  .form-control {
    font-weight: 350;
    padding: 0.3rem 0.55rem;
  }
  .text-danger {
    font-size: 14px;
  }
  .card-header {
    padding: 2px 5px !important;
  }

  .table>:not(caption)>*>* {
    padding: 0.2rem 0.2rem !important; 
}
  